/* /Applications/MAMP/htdocs/yoga00/frontend/assets/css/style_homepage.css */


/* STILE DEL BODY */
body {
    background-color: var(--bg-light);
    color: var(--primary);
    font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
}

/* HERO SECTION IN HOMEPAGE */
.hero {
    background: linear-gradient(rgba(47, 79, 88, 0.8), rgba(47, 79, 88, 0.8)), url('../immagini/yoga-hero.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    min-height: 500px;  /* Garantisce altezza minima in schermi piccoli*/
}

/* BOTTONI */
.btn-accent {
    background-color: var(--accent);
    border-color: var(--accent);
    color: var(--primary);
    font-weight: bold;
}

/* BOTTONI HOVER */
.btn-accent:hover {
    background-color: #c0b099;
    border-color: #c0b099;
    color: var(--primary);
}

/* ICONE */
/* Icone circolari*/
.icon-circle {
    width: 80px;
    height: 80px;
    background-color: var(--accent);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: var(--primary);
}


/* TESTI */
h1, h2, h5 {
    color: var(--primary);
}

.text-primary {
    color: var(--primary) !important;
}

